.sec_4{
    width: 100vw;
    height: 100%;
    padding-bottom: 250px;
    background: #161616 url(../img/sec4.png) no-repeat bottom / 100%;
}


.sec4con_wrap{
    display: flex;
    justify-content: space-between;
}

.sec_4_con4{
    width: 32%;
    height: 600px;
 
}

.sec_4 .img_box{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.sec_4 .img_box img{
    width: 130%;
    height: auto;
    transform: translateX(-70px);
    opacity: 0.9;
    transition: 1.5s;
}

.sec_4 .text_box{
    width: 100%;
    height:200px;
    background-color: rgb(50, 50, 50, 0.7);
    backdrop-filter: blur(3px);
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_4_con4 .img_box_2 img{
    filter: grayscale(100);
}
.sec_4_con4 .img_box_3 img{
    transform: scale(1.7);
    margin: 100px 0 70px 0;
}

.sec_4_con4 a:hover .img_box_1 img{
    transform: scale(1.2);
}
.sec_4_con4 a:hover .img_box_2 img{
    transform: scale(1.3);
}
.sec_4_con4 a:hover .img_box_3 img{
    transform: scale(2);
}
