.sec_5{
    padding-bottom: 100px;
}
.sec_5title{
    padding-top: 100px;
}

.sec5con_wrap{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    row-gap: 35px;
}

.sec_5_con5{
    width: 250px;
    height: 150px;
    background-color: rgb(16, 16, 16);
    padding: 20px;
    box-sizing: border-box;
}

.sec_5_con5 .img_box{
    width: 100%;
    overflow: hidden;
}

.sec_5_con5 .img_box img{
    width: 100%;
}

.sec_5_con5_1 .img_box{
    transform: translateY(-6px);
}

.sec_5_con5_15 .img_box{
    transform: translateY(5px);
}

.sec_5_con5_2 .img_box, .sec_5_con5_6 .img_box,
.sec_5_con5_13 .img_box, .sec_5_con5_14 .img_box{
    transform: translateY(20px);
}
.sec_5_con5_3 .img_box,  .sec_5_con5_8 .img_box
{
    transform: translateY(25px);
}
.sec_5_con5_4 .img_box, .sec_5_con5_9 .img_box,
.sec_5_con5_10 .img_box{
    transform: translateY(32px);
}

.sec_5_con5_11 .img_box, .sec_5_con5_12 .img_box,
.sec_5_con5_16 .img_box, .sec_5_con5_17 .img_box{
    transform: translateY(40px);
}

.sec_5_con5_7 .img_box{
    transform: translateX(32px);
}

.sec_5_con5_7 .img_box img{
    width: 70%;
}
